{{extend 'layout.html'}}
<!-- Preloader -->

<div class="container-fluid" id="Form">
   
   
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="material-icons">textsms</i>&nbsp;MENSAJERIA MASIVA
                <div class="pull-right">
                    <a href="#"> <i class="material-icons">add</i></a>

                </div>
                </div>
                <div class="panel-body">                    
                   <div class="row">
                        <div class="line"><hr/></div>
                    
                        <form id="formSms" method="POST" accept-charset="UTF-8">
                            <fieldset> 
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <select id="mun"  name="municipio" class="form-control" required>
                                            {{for mun in municipios:}}
                                                <option value=""></option>                                                       
                                                <option value="{{=mun['id']}}">{{=mun['descripcion']}}</option>
                                            {{pass}}                
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <select id="carg" name="cargo" class="form-control" required></select>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <select id="multiple" name="multiselect[]" multiple="multiple" required></select>
                                    </div> 
                                    <br>
                                    <br>
                                    <div class="col-xs-12 col-sm-10 col-md-8">
                                        <textarea name="mensaje" id="mensaje" class="form-control" placeholder="Escriba su mensaje" rows="5" maxlength="160"  required></textarea>
                                        <h6 class="pull-right" id="contandoCaracteres"></h6>
                                    </div>      


                                </div>

                            
                                	<div class="col-xs-12"> 
                                        <div class="line"><hr/></div>                              

                                        <div class="pull-right">                                   
                                           <button id="guardar" class="btn btn-raised btn-primary">GUARDAR</button>
                                            <button type="button" id="enviar" value="{{ =mensalida }}" class="btn btn-raised btn-success">ENVIAR <span class="badge">{{ =mensalida }}</span> SMS</button>
                                        </div>
                                    </div>
                            </fieldset>                          
                        </form> 
                                                                 
                  	</div>                       

                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{=URL('static','js/start/index.js')}}" type="text/javascript"></script>

<script>
    $(function() {
        index.init();
    });
</script>
